/* Styles généraux */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Thème noir */
    color: #ffffff; /* Texte en blanc */
    text-align: center;
}

header {
    padding: 2rem;
    background-color: #000000;
    color: #fff;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

/* Bouton Retour à l'accueil */
.button-container {
    display: flex; /* Centrer le bouton */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centre verticalement */
    margin: 20px 0; /* Espace autour du bouton */
}

.button-container button {
    background-color: #000; /* Couleur de fond du bouton */
    color: #e5e5e5; /* Couleur du texte du bouton */
    font-family: "IBM Plex Sans", sans-serif; /* Utiliser la même police que le reste de la page */
    font-size: 1.5rem; /* Taille de police plus grande */
    font-weight: 400; /* Poids de la police */
    padding: 15px 30px; /* Plus de padding pour agrandir le bouton */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur lorsqu'on survole le bouton */
    transition: background-color 0.3s ease; /* Animation douce lors du survol */
}

.button-container button:hover {
    background-color: #555; /* Change la couleur de fond lors du survol */
}

/* Conteneur des articles */
.article-gallery {
    display: flex;
    flex-direction: column; /* Affiche les articles en colonne */
    align-items: center; /* Centre les articles horizontalement */
    padding: 2rem;
    gap: 2rem; /* Espace entre les articles */
}

.article-card {
    width: 80%; /* Largeur de la carte d'article */
    background-color: #1a1a1a; /* Fond sombre pour les articles */
    color: #ffffff; /* Couleur de texte blanche */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Effet d'ombre */
    text-align: left; /* Alignement du texte à gauche */
    transition: transform 0.3s, box-shadow 0.3s; /* Animation douce */
}

.article-card:hover {
    transform: translateY(-10px); /* Effet de levée au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Ombre plus prononcée */
}

.article-card h2 {
    margin-top: 0;
    font-size: 2rem;
    color: #00ace6; /* Couleur du titre */
}

.article-card p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #000000;
    color: #fff;
    margin-top: 2rem;
}
